
<div class="mx-auto bg-grey-400">
  <!--Screen-->
  <div class="min-h-screen flex flex-col">
    <!--Header Section Starts Here-->
    <header class="bg-nav">
      <div class="flex justify-between">
        <div class="p-1 mx-3 inline-flex items-center">
          <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
          <h1 class="text-white p-2">Logo</h1>
        </div>
        <p style="color: white;">profile</p>
        
          <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
            <ul class="list-reset">
              <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
              <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
              <li><hr class="border-t mx-2 border-grey-ligght"></li>
              <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
            </ul>
          </div>
        
      </div>
    </header>
    <!--/Header-->

    <div class="flex flex-1">
      <!--Sidebar-->
      <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">

        <ul class="list-reset flex flex-col">
          <li class=" w-full h-full py-3 px-2 border-b border-light-border bg-white">
            <a href="index.html"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
              <i class="fas fa-tachometer-alt float-left mx-2"></i>
              Dashboard
              <span><i class="fas fa-angle-right float-right"></i></span>
            </a>
          </li>
          <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a routerLink="/loanform"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
              <i class="fab fa-wpforms float-left mx-2"></i>
              Apply Loan
              <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
          </li>
          <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a routerLink="/login"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
              <i class="fas fa-grip-horizontal float-left mx-2"></i>
              Activate Account
            </a>
          </li>

          <li class="w-full h-full py-3 px-2 border-b border-light-border">
            <a routerLink="/login"
               class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
              <i class="fas fa-grip-horizontal float-left mx-2"></i>
              Logout
              <span><i class="fa fa-angle-right float-right"></i></span>
            </a>
          </li>
        </ul>

      </aside>
      <!--/Sidebar-->
      <!--Main-->
      <main class="bg-white-300 flex-1 p-3 overflow-hidden">

        <div class="flex flex-col">
          <div class=" mb-2 p-2 md:w-1/1 mx-3">
            <div class="p-2 flex flex-col">
              <a style="color:green; text-align:center; font-size:30px;"><b>PBZ IKHLAS </b><br>
              </a>
              <a style="text-align:center; font-size:20px" ><b>Banking Facility Application Form <br></b></a>
              <!--              <a style="text-align:center;"><i>(Incorporated in Zanzibar, Tanzania)</i> </a>-->
            </div>
          </div>

          <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

          </div>
          <div class="flex flex-1 flex-col md:flex-row lg:flex-row mx-2">

            <div class="flex flex-1  flex-col md:flex-row lg:flex-row mx-2">
              <div class="mb-2 border-solid border-gray-300 rounded border shadow-sm w-full">
                <div class="bg-gray-200 px-2 py-3 border-solid border-gray-200 border-b">
                  LOAN APPLICATION FORM
                </div>
                <div class="p-3">
                  <form class="w-full">
                    <p class="text-grey-dark text-xs italic">2.0  Details of Present Employment or Business</p><br>

                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          Name of Employer
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="text" placeholder="Enter your fullname">
                      </div>
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          DATE OF EMPLOYMENT
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="date" placeholder="Enter your fullname">
                      </div>
                    </div>

                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          EMPLOYEE'S OFFICE FILE NUMBER
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="text" placeholder="Enter Employee's file number no.">
                      </div>

                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-state">
                          PERIOD OF SERVICE
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="text" placeholder="period of service">
                      </div>

                    </div>
                    STATUS OF EMPLOYMENT<br>
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          PERMANENT
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="text" placeholder="Parmanent">
                      </div>
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                          <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                                 for="grid-state">
                            NON PERMANENT
                          </label>
                          <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                                 id="grid-zip" type="text" placeholder="Parmanent">

                        </div>


                    </div>

<!--                      CONTRACTUAL EMPLOYMENT UP TO <br>-->
<!--                    <div class="flex flex-wrap -mx-3 mb-2">-->
<!--                      <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">-->
<!--                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"-->
<!--                               for="grid-zip">-->
<!--                          START DATE-->
<!--                        </label>-->
<!--                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"-->
<!--                               id="grid-zip" type="date" placeholder="Date">-->
                      CONTRACTUAL EMPLOYMENT UP TO
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          Start date.
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="date" placeholder="Date">
                      </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-2">
                      <div class="w-full md:w-1/1 px-3 mb-6 md:mb-0">
                        <label class="block uppercase tracking-wide text-grey-darker text-xs font-light mb-1"
                               for="grid-zip">
                          End date.
                        </label>
                        <input class="appearance-none block w-full bg-grey-200 text-grey-darker border border-grey-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-grey"
                               id="grid-zip" type="date" placeholder="Date">
                      </div>
                    </div>
                    <a routerLink="/loanform2">
                      <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">Next</button>
                    </a>


                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
</div>


      <!--/Main-->
    </div>
    <!--Footer-->
    <footer class="bg-grey-darkest text-white p-2">
      <div class="flex flex-1 mx-auto">&copy; My Design</div>
    </footer>
    <!--/footer-->

  </div>

<script src="./main.js"></script>
